.App {
  width: 70%;
  margin: 30px auto 0;
  color: #bdbdbd;
  text-align: center;
 
}

.App-title {
  color: rgb(216, 216, 216);
}

.App-title span, i {
  color: #242424;
  font-weight: 900;
}

.author{
  margin-top: -25px;
  
  font-weight: 200;
}


