.App {
  width: 70%;
  margin: 30px auto 0;
  color: #4f4f4f;
  text-align: center;
 
}

.App-title {
  color: rgb(11, 83, 165);
}

.App-title span, i {
  color: rgb(1, 33, 70);
  font-weight: 900;
}

.author{
  margin-top: -25px;
  
  font-weight: 200;
}


